# Directories #
###############
tess-lib/*





# VS Project #
##############
tess-cs/tess-cs/*.dll
tess-cs/tess-cs/bin/*
tess-cs/tess-cs/obj/debug/*
*.user
*.log
*.tlog
*.cache
*.obj
*.sdf
*.opensdf
*.lastbuildstate
*.unsuccessfulbuild
*.suo
*.res
*.ipch
*.manifest
